<%- include('partials/header'); -%>

    <form action="">
        <h2>Log In!</h2>

        <label for="email">Email</label>
        <input type="text" name="email" required>
        <div class="email error"></div>

        <label for="password">Password</label>
        <input type="password" name="password" required>
        <div class="password error"></div>
        <button>Log In</button>

    </form>

    <script>
        const form = document.querySelector('form');
        const emailError = document.querySelector(".email.error");
        const passwordError = document.querySelector(".password.error");

        form.addEventListener("submit", async (event) => {
            event.preventDefault(); //Stops from refreshing

            //reset errors
            emailError.textContent = " ";
            passwordError.textContent = " ";

            //getting Values
            const email = form.email.value;
            const password = form.password.value;

            // The form hasmt specied the action where to post so here we are specifing?!
            try {
                const res = await fetch('/login', {
                    method: "POST",
                    body: JSON.stringify({ email, password }),
                    headers: { "Content-Type": "application/json" } //Knows Json is the type of Data going to the server
                });

                const data = await res.json();
                console.log(data);

                if (data.errors) {
                    emailError.textContent = data.errors.email;
                    passwordError.textContent = data.errors.password;
                }

                if (data.user) {
                    location.assign("/");
                }

            }
            catch (err) {
                console.log(err);
            }
        })
    </script>




    <%- include('partials/footer'); -%>